{% extends 'layout.twig' %}

{% block body %}
  <div class="is-flex is-justify-content-flex-end mb-4">
    <a href="/people/new" class="button is-primary">
      Nova Pessoa
    </a>
  </div>

  <table class="table is-bordered is-hoverable is-fullwidth">
    <thead>
      <th>Nome</th>
      <th>CPF</th>
      <th></th>
    </thead>
    <tbody>
      {% for person in people %}
        <tr>
          <td>{{ person.name }}</td>
          <td>{{ person.cpf }}</td>
          <td class="is-flex is-justify-content-flex-end">
            <a href="/people/{{ person.id }}/edit" class="button mr-2">Editar</a>

            <a href="/people/{{ person.id }}/contacts" class="button mr-2">Contatos</a>

            <form action="/people/{{ person.id }}" method="POST">
              <input type="hidden" name="_method" value="DELETE">

              <button class="button is-danger" type="submit"> Remover</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
